html {
  overflow-y: hidden;
}
body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: 10% 65% 25%;
  grid-template-areas: "header header header header"
                       "main main main main"
                       "footer footer footer footer";
  font-family: "Arvo", serif;
}

header {
  grid-area: header;
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 30%;

}

.logo-icon {
  width: 30%;
}

.logo-icon img {
  height: 80%;
  width: auto;
  margin-left: 20px;
}

.logo-wordmark span {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
}

main {
  height: 100%;
  grid-area: main;
  display: flex;
}

.palette-card {
  height: 90%;
  width: 175px;
  border-radius: 8px;
  margin-left: 10px;
}

.palette-card:hover{
   position: relative;
   top: -2px;
   
  -webkit-box-shadow: 2px 26px 18px -11px rgba(0,0,0,0.68);
  -moz-box-shadow: 2px 26px 18px -11px rgba(0,0,0,0.68);
  box-shadow: 2px 26px 18px -11px rgba(0,0,0,0.68);
}

.palette-card-colors-container {
  height: 75%;
  display: flex;
}

.palette-card-title {
  height: 25%;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
}

.palette-card-title span {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-one,
.color-two,
.color-three,
.color-four,
.color-five {
  width: 20%;
  text-align: center;
}

.color-one span,
.color-two span,
.color-three span,
.color-four span,
.color-five span {
  display: none;
  margin-bottom: 5px;
  font-size: 12px;
}

.color-one {
  border-top-left-radius: 8px;
}

.color-five {
  border-top-right-radius: 8px;
}

.color-one:hover,
.color-two:hover,
.color-three:hover,
.color-four:hover,
.color-five:hover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-one:hover span,
.color-two:hover span,
.color-three:hover span,
.color-four:hover span,
.color-five:hover span {
  display: block;
}

footer {
  background-color: #444;
  height: 100%;
  grid-area: footer;
  display: flex;
}

.add-project-container {
  width: 15%;
  height: 100%;
}

.all-projects-container {
  height: calc(100% - 20px);
  width: calc(85% - 20px);
  margin: 10px;
  display: flex;
  align-items: center;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 20px;
  padding-top: 10px;
  border-right: solid 1px #999;
}

.project-card-container {
  width: 100%;
  display: flex;
  height: 100%;
}

.project-card-title {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  margin-left: 10px;
}

.project-card-title span {
  margin-bottom: 3px;
}

.add-project-button {
  border: none;
  background-color: #999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background-image: url('../assets/icons/icon-plus-button-grey.svg');
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
}

.add-project-button:hover {
  background-image: url('../assets/icons/icon-plus-button-white.svg');
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
}

.add-project-button img {
  height: 60%;
}

.color-generator-container {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "left middle right";
  margin-top: -2%;
}

.cg-aperture-1,
.cg-aperture-2,
.cg-aperture-3,
.cg-aperture-4,
.cg-aperture-5 {
  background-image: url('../assets/icons/icon-lock-black.svg');
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
}

.cg-arrows-icon {
  grid-area: middle;
  height: 10%;
  width: 10%;
  z-index: 2;
}

.cg-arrows-icon:hover {

}

.cg-generate-new-palette-button {
  transition-duration: (0.6s);
  transition-timing-function: ease;
  height: 20%;
  width: 8%;
  grid-area: middle;
  margin-top: -10px;
  border: none;
  background: none;
  transform: rotate(-18deg);
  background-image: url('../assets/icons/icon-arrows-grey-outline.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cg-generate-new-palette-button:hover {
  background-image: url('../assets/icons/icon-arrows-medium-grey-outline.svg');
}

.project-card-add-new-pallete{
  align-self: center;
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.project-card-add-new-pallete button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  background-image: url('../assets/icons/icon-plus-button-light-grey.svg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.project-card-add-new-pallete button:hover {
  background-image: url('../assets/icons/icon-plus-button-white.svg');
}

.cg-aperture {
  grid-area: middle;
  height: 90%;
}

.color-generator-forms {
  margin-left: 5%;
  height: 30%;
  width: 30%;
  grid-area: left;
}

.cg-form-add-palette-button,
.cg-form-add-project-button {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  background-image: url('../assets/icons/icon-plus-button-grey.svg');
  background-repeat: no-repeat;
}

.cg-form-add-palette-button:hover,
.cg-form-add-project-button:hover {
  background-image: url('../assets/icons/icon-plus-button-light-grey.svg');
}

.rotate {
  transform: rotate(378deg);
  transition-duration: (0.6s);
  transition-timing-function: ease;
  
}

.aperture-position-one {
  transform: rotate(72deg);
  transition-duration: (0.6s);
  transition-timing-function: ease;
}

.aperture-position-two {
  transform: rotate(142deg);
  transition-duration: (0.6s);
  transition-timing-function: ease;
}

.aperture-position-three {
  transform: rotate(216deg);
  transition-duration: (0.6s);
  transition-timing-function: ease;
}

.aperture-position-four {
  transform: rotate(288deg);
  transition-duration: (0.6s);
  transition-timing-function: ease;
}

.aperture-position-five {
  transform: rotate(360deg);
  transition-duration: (0.6s);
  transition-timing-function: ease;
}

.palette-card-delete-button {
  border: none;
  background: none;
  background-image: url('../assets/icons/icon-delete-dark-grey.svg');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 50% 50%;
  margin-right: 10px;
}

.palette-card-delete-button:hover {
  background-image: url('../assets/icons/icon-delete-light-grey.svg');
}

.color-lock-container {
  height: 70%;
  width: 30%;
  grid-area: right;
  justify-self: end;
}

.color-one-lock,
.color-two-lock,
.color-three-lock,
.color-four-lock,
.color-five-lock {
  margin-left: 50px;
  height: 20%;
  display: flex;
  justify-content: center;
}

.color-one-lock:hover,
.color-two-lock:hover,
.color-three-lock:hover,
.color-four-lock:hover,
.color-five-lock:hover {
  filter: brightness(0.7);
}

.color-lock-button {
  width: 100%;
  background: none;
  background-image: url('../assets/icons/icon-unlock-black.svg');
  border: none;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
}
